body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.hero {
    height: 100vh;
    width: 100%;
    background-color: rgb(140, 154, 235);
    background-size: 50;
    background-position: center;
}

.nav {
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.nav a.active {
    background-color: #04AA6D;
    color: white;
}

.logo {
    color: gainsboro;
    font-size: 40px;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    color: red;
}

nav ul li {
    font-size: 20px;
    list-style-type: none;
    display: inline-block;
    margin: 30px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: rosybrown;
    transition: .60;
}

.btn {
    background-color: darkred;
    color: white;
    text-decoration: none;
    border: 2px green solid;
    font-weight: bolder;
    padding: 10px 25px;
    border-radius: 30px;
    transition: trasform .45;
}

.btn:hover {
    transform: scale(1.2);
}

.contact-title {
    align-content: center;
    margin-left: 200px;
    color: darkblue;
}

#h3 {
    align-self: center;
    color: rgb(12, 20, 141);
    font-size: 30px;
}

.container {
    padding: 100px;
}

input[type=text],
select,
textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

* {
    box-sizing: border-box;
}


/* Add padding to containers */

.container {
    padding: 16px;
    background-color: white;
    margin-left: 200px;
}


/* Full-width input fields */

input[type=text],
input[type=password] {
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


/* Overwrite default styles of hr */

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


/* Set a style for the submit button */

.registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

.resetbtn {
    background-color: #9fc4b6;
    color: rgb(36, 4, 4);
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
}

.resetbtn:hover {
    opacity: 1;
}


/* Add a blue text color to links */

a {
    color: dodgerblue;
}


/* Set a grey background color and center the text of the "sign in" section */

.signin {
    background-color: #f1f1f1;
    text-align: center;
}